fastembed==0.8.0
fastapi==0.124.2
ipykernel==7.2.0
langchain-huggingface==1.2.2
langchain-deepseek==1.0.1
langchain-google-genai==4.2.4
langchain-openai==1.2.2
langchain-ollama==1.1.0
langchain-qdrant==1.1.0
langchain-text-splitters==1.1.2
langfuse==4.6.1
langgraph==1.2.0
pymupdf4llm==1.27.2.3
python-dotenv==1.2.2
python-multipart==0.0.20
sentence-transformers==5.5.0
tiktoken==0.13.0
uvicorn[standard]==0.38.0
